@charset "utf-8";

body{
    background-color: black;
    color: yellowgreen;
}

h1{
    color: yellowgreen
    text-align: center;
}

h2{
    color: yellow;
}

p,a:visited{
    color: white;
}

ol{
    color: darksalmon;
}

a:link{
    color: darksalmon;
}